<br><br>
<div class="container text-center">
    <h1>Servicios</h1>
</div>

<div class="container text-center">  <br><br>
        <div class="">
                Ascensor <br><br>
                Wi-Fi gratuito <br> <br>

                Desayuno servido de 8:30 a 11:00 horas. <br><br>
                Precio desayuno buffet: 12,00€ persona/día.                Precio desayuno clásico: 6,50€ persona/día. <br><br>
                Cuna disponible para niños menores de 1 año sin cargo. Se ruega lo soliciten con antelación.
                Servicio de lavandería externo. Consultar en recepción. Entrega en 24 horas (Domingos y festivos no hay servicio).<br><br>
                También disponemos de servicio despertador. Solicítelo en recepción.<br><br>
                El horario de Check-in es de 13:30h a 21h. <br><br>   

                En caso de que ustedes lleguen fuera de este horario por favor contacten con nosotros. La recepción permanecerá cerrada de 22pm a 8am. <br><br>

                La llave de su habitación (que se hace entrega en el Check-in) también abrirá la puerta principal del hotel, por lo que podrá entrar y salir del establecimiento cuando desee sin preocuparse del horario de funcionamiento de la recepción. <br><br>

                Las habitaciones podrán ser utilizadas a partir de las 13:30 horas del día de llegada (a no ser que estén disponibles antes) y deberán quedar libres a las 12:00 horas del día de salida. Contamos con una consigna, donde podrán dejar su equipaje tanto el día de entrada mientras no está su habitación disponible, como el día de salida.<br><br>

                <b> Condiciones de pago grupo:</b> <br><br>
                Grupo de 4 habitaciones en adelante. <br><br>

                Para la confirmación de la reserva de grupo a partir de 4 habitaciones, necesitamos el pre-pago del 50% del total, dicha cantidad es reembolsable hasta 20 días antes de la fecha de llegada, momento en el cual deberá abonarse la cantidad pendiente.
                El pago debe realizarse a través de transferencia bancaria.<br><br>

                La Caixa  SWIFT: CAIXES BB XXX <br><br>

                IBAN: ES91 2100 2954 7802 0011 7691   <br><br>

                No se permiten mascotas. <br><br>

                Hay que tener en cuenta que nuestro hotel es un espacio sin humo, no se permite fumar en el interior del edificio. Aunque tenemos zonas en el exterior habilitadas para fumar. <br><br>
        </div>
</div>