<br>
<div class="text-center">
    <h1>Habitaciones</h1>
</div>

<div class="container text-center">
        <div class="">  <br><br>
            Cada una de las 16 habitaciones del Hotel San Miguel dispone de unas vistas únicas, pues todo el hotel está rodeado de edificios barrocos, neoclásicos y vanguardistas que hacen que cada habitación sea única. La decoración de los dormitorios se caracteriza por la limpieza de sus líneas y la simplicidad en sus formas, así como las maderas nobles conjugadas con telas de algodón y lino que completan la estancia. Algunas de las habitaciones del hotel disponen de una galería o mirador privado, y todas cuentan con Wi-fi gratuito, minibar, pantallas LED de TV, mesa de trabajo, caja de seguridad, secador de pelo y set de amenities. Siguiendo la normativa vigente este hotel NO dispone de habitaciones para fumadores.
        </div>
</div>
<br><br>
<div class="container">
    <div class="row img-fluid">
        <div class="col-xl-3 col-lg-3 col-mid-3 col-sm-3 col-3">
            <img src="../../../assets/img1.jpg" width="300px" height="200px">
        </div>
        <div class="col-xl-3 col-lg-3 col-mid-3 col-sm-3 col-3">
            <img src="../../../assets/img2.jpg" width="300px" height="200px">
        </div>
        <div class="col-xl-3 col-lg-3 col-mid-3 col-sm-3 col-3">
            <img src="../../../assets/img3.jpg" width="300px" height="200px">
        </div>
        <div class="col-xl-3 col-lg-3 col-mid-3 col-sm-3 col-3">
            <img src="../../../assets/img4.jpg" width="280px" height="200px" >
        </div>
    </div>
</div>
<br><br>
