<div class="container-fluid bg-dark">
    <div class="row">
        <div class=" text-white text-center col-xl-4 col-lg-4 col-md-6 col-sm-5">
            <br>
            <h5>Contacto</h5>
            Calle 58 # 55 - 24A  Barranquilla - Colombia
            <h5>Celular</h5>(+57) 314 7644802
        </div>
        <div class="text-center col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <br>
            <h4 class="text-white">Siguenos</h4>
            <a class="mt-5 navbar-brand text-white">
                <b> Facebook</b>
            </a>
            <a class="navbar-brand text-white">
                <b> Instagram</b>
            </a>
            <a class="navbar-brand text-white">
               <b> Twitter</b>
            </a>
            <a class="navbar-brand text-white">
                <b> Youtube</b>
            </a>
        </div>
        <div class=" text-center text-white col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <br>
            <h5>Pagina Oficial</h5>
            <a class="navbar-brand text-white"><b> www.Sanmiguel.co.com </b></a>
            <h5>Correo</h5>
            Sanmiguel.co.com
            </div>
        </div>
        <div class="py-2 my-1 text-center position-relative mx-2">
            
            <div class="position-absolute w-100 top-50 start-50 translate-middle" style="z-index: 2">
                <span class="d-inline-block bg-white px-2 text-muted"></span>
            </div>
            <div class="position-absolute w-100 top-50 start-0 border-muted border-top"></div>
            
        </div>
    </div>
