<div class="container text-center">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"><br><br>
            <img src="../../../assets/b2ap3_large_Recepcion.jpg" alt="hola" class="img-fluid"><br><br>
            PRIORIDAD PARA ATENDER EL SERVICIO <br> <br>
            Las solicitudes de los clientes serán atendidas según el orden de llegada. <br> <br>
            Unidad Central de Atención <br> <br>
            Departamento de Reservas y Registro <br>
            Telefonos: 3362264 - 3362269 <br><br>
        </div>
    </div>

</div>
