<div class="text-center">
    <br>
    <h1>Hotel Sanmiguel</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-mid-6 col-sm-6 col-6"> <br><br>
            Bienvenidos  
            Ubicado en una de las plazas más recogidas del Casco Histórico de Santiago de Compostela, el Hotel San Miguel, combina la sobriedad de la piedra de su entorno con un diseño interior moderno pero acogedor, creando así un espacio donde el huésped se siente protagonista de una obra creada especialmente para el.

            La combinación de, un trato personal, la atención en los detalles y la calidad en el servicio sumado al incomparable entorno, hacen de este hotel, el lugar ideal para el disfrute de su estancia en Compostela.
            El trato personalizado, profesional y familiar, hacen de nuestro día a día la única forma que tenemos de entender la hostelería. Elementos modernos con espacios acogedores y repletos de encanto, además de nuestro emblemático patio interior que presenta una decoración basada en la filosofía Feng Shui. Todo ello para que la estancia de nuestros clientes se convierta en un momento agradable e inolvidable gracias a los cuidados servicios y a la céntrica ubicación.

            Situado en el sector oriental de la ciudad histórica, integrado en la configuración urbana de la “Civitas” desde mediados del siglo XI. Cercano a Porta da Pena, puerta de la antigua muralla medieval que daba acceso a los peregrinos de Inglaterra y Flandes.

        </div>
        
        <div class="col-xl-6 col-lg-6 col-mid-6 col-sm-6 col-6"> <br><br>
            <img src="../../../assets/sanmi_0129.jpg" class="img-fluid" alt="">
        </div>

    </div>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-mid-12 col-sm-12 col-12 text-center"> <br><br><br>

                <b> UBICACION </b> <br><br><br>


                
                <b> Situado a escasos 200 metros de la Catedral, se encuentra el
                Hotel San Miguel.</b> <br><br><br><br>

                <b> El Casco histórico de Compostela es peatonal, el acceso a vehículos está restringido.</b>
            </div>
            <div class="col-xl-6 col-lg-6 col-mid-12 col-sm-12 col-12"  >
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d501938.4580544806!2d-75.1898541803247!3d10.626452339890308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shotel%20san%20miguel%20ubicacion!5e0!3m2!1ses!2sco!4v1652146033759!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <br><br>
   

</div>
