<br>
<br>

<div class="container">
  <h1>Reservas</h1>
</div>

<br><br>

<div class="container">
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
      <form class="forms-sample" [formGroup]="formGroupReservas">

        <div class="mb-3">
          <label class="form-label">Nombre</label><input type="text" class="form-control" formControlName="nombre" />
        </div>
        <div class="mb-3">
          <label class="form-label">Apellido</label><input type="text" class="form-control"
            formControlName="apellido" />
        </div>
        <div class="mb-3">
          <label class="form-label">Numero De Documento</label><input type="number" class="form-control"
            formControlName="numeroDocumento" />
        </div>
        <div class="mb-3">
          <label class="form-label">telefono</label><input type="number" class="form-control"
            formControlName="telefono" />
        </div>
        <div class="mb-3">
          <label class="form-label">Fecha de entrada</label><input type="date" class="form-control"
            formControlName="fechaEntrada" />
        </div>
        <div class="mb-3">
          <label class="form-label">Fecha de salida</label><input type="date" class="form-control"
            formControlName="fechaSalida" />
        </div>

        <button [disabled]="!formGroupReservas.valid" type="button" (click)="guardarData(formGroupReservas.value)"
          class="btn btn-primary">
          {{textoBoton}}</button>

      </form>
      <br>
    </div>
    <div class="container col-xl-6 col-lg-6 col-md-5 col-sm-12 col-12 text-center">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Numero documento</th>
            <th>telefono</th>
            <th>Fecha entrada</th>
            <th>Fecha salida</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataFormulario">
            <td>{{item?.nombre}}</td>
            <td>{{item?.apellido}}</td>
            <td>{{item?.numeroDocumento}}</td>
            <td>{{item?.telefono}}</td>
            <td>{{item?.fechaEntrada}}</td>
            <td>{{item?.fechaSalida}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="editar(item.id)">Editar</button>
              <button type="button" class="btn btn-danger" (click)="eliminar(item.id)">Eliminar</button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>