<br>
<br>

<div class="container">
    <h1>Reservas</h1>
</div>

<br><br>

<div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12" >
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite Nombres">
           </div>
           <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Digite Apellidos">
           </div>
           <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Numero De Documento</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Digite numero de documento">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">telefono</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Digite Digite telefono">
          </div>
          <div class="mb-3">
            <label for="fechaEs">Fecha de entrada</label>
            <input type="date" class="form-control" name="fechaEs" id="fechaEs">
          </div>
          <div class="mb-3">
            <label for="fechaEs">Fecha de salida</label>
            <input type="date" class="form-control" name="fechaEs" id="fechaEs">
          </div>
          
          <button type="submit" class="btn btn-primary"> Reservar</button>
            
        </form>
        <br>
      </div>
    <div class="col-xl-1 col-lg-1  col-md-1 text-center"></div>
    <div class="col-xl-6 col-lg-6 col-md-5 col-sm-12 col-12 text-center">
        <img src="../../../assets/b2ap3_large_Recepcion.jpg" alt="hola" class="img-fluid" ><br>
        PRIORIDAD PARA ATENDER EL SERVICIO <br> <br>
        Las solicitudes de los clientes serán atendidas según el orden de llegada. <br> <br>
        Unidad Central de Atención <br> <br>
        Departamento de Reservas y Registro <br>
        Telefonos: 3362264 - 3362269 <br>
    </div>
  </div>
</div>
<br><br>
